body {
    background: linear-gradient(rgba(173,216,230) 0%, rgba(135,206,250) 20%, rgba(100,149,237) 40%, rgba(131,111,255) 60%, rgba(105,89,205) 80%, rgba(25,25,112) 100%);
    }
h1 {
        color: #000000
    }
p {
    font-family: Aharoni

}
  